.search-btn {
    border: none;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
}

input {
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    border-bottom: 1px solid rgb(170, 169, 169);
}

#search-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.search-btn:hover {
    background-color: blue;
    color: white;
}

ul#blogs {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

ul#blogs li {
    margin-top: 0px;
}

ul#blogs a {
    color: black;
}

ul#blogs a:hover {
    background-color: black;
    color: white;
}

.blog-title {
    display: flex;
    flex-direction: row;
    align-items:baseline;
    gap: 5px;
    font-weight: bold;
    font-size: 0.7rem;
}

.blog-meta {
    display: flex;
    justify-content: space-between;
    color: #555;
}

.square {
    width: 5px;
    height: 5px;
    background-color: rgb(32, 32, 243);
}