* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(245, 253, 241);
}

.banner {
    width: 100%;
    height: 5rem;
    margin-top: 1rem;
}

body {
    margin: 0.5rem;
}

#homeheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#socials-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

main {
    margin-top: 1rem;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

a {
    color: blue;
}

a:hover {
    color: white;
    background-color: blue;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px dotted;
}

@media (min-width: 768px) {
    body {
        max-width: 700px;
        margin: 0.5rem auto;
    }
}